# Introduction to Python - Session 1
1. Programming and Python
    - What is Python?
    - What are Jupyter Notebooks?
    - Paths and directories
    - Creating a python script/notebook
2. Basics of Python: objects, syntax, functions
3. Data types
    - Numbers
    - Lists
    - Strings
    - Dictionaries
4. Flow control
    - if...else statements
    - for and while loops
5. List comprehension
6. Reading and writing files
7. Functions

SLIDES [HERE](https://docs.google.com/presentation/d/1mcmEPyvGNvnPy4hjDdc2VDOsCD-J6B54tn8FQ-bb-Fo/export/pdf)

Here is a very good online free tutorial. Practice makes the master!
http://datacamp.pxf.io/gbWXJA

**Getting help**
The built-in function help() will show you interactive documentation about most Python objects.

In [66]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

## EXERCISE 1 - Getting started
Exercises are explained in this notebook. Use the cells below each question to write and run your own answers. Remember, you can add text cells as you wish and use # for commenting the code.

In [1]:
# This is a comment
print("Hello world")

Hello world

**1. Using Python, calculate the percentage of males and females currently present in the training.**

In [6]:
# 6 males out of 19 students:
print((6/19) * 100)

# 13 females out of 19 students:
print((13/19) * 100)

31.57894736842105
68.42105263157895

**2. Create a new object `myobject` with value 60. Print `myobject` in the console.**

In [7]:
myobject = 60
print(myobject)

60

**3. Reassign `myobject` with value 87.**

In [14]:
myobject = 87
print(myobject)

87

**4. Subtract 1 to `myobject` and reassign.**

In [15]:
# Option 1
myobject = myobject - 1
# Option 2 (use += and -= to reassign an object directly after adding/subtracting)
myobject -= 1

## EXERCISE 2 - Data types: strings

**1. Create the string `mystring` with value "Hello world!", and print it.**

In [8]:
mystring = "Hello world!"
print(mystring)

Hello world!

**2. Print "This is my string: Hello world!".**

In [76]:
print("This is my string: %s" % (mystring))

This is my string: Hello world!

**3. How long is the string?**

In [78]:
len(mystring)

12

**4. Get only the word "world" from `mystring` using numeric indexes.**

In [80]:
mystring[6:11]

'world'

**5. Split `mystring` word by word. Use the method `split`. Then `join` the words with slashes.**

In [11]:
splitted = mystring.split(" ")
"-".join(splitted)

'Hello-world!'

**6. Print `mystring` in upper case. Use the method `upper`.**

In [95]:
mystring.upper()

'HELLO WORLD!'

**7. Write a Python program that finds the position of the first cytosine (C) in the sequence "ATGTCACCGTTT".**

In [7]:
sequence = "ATGTCACCGTTT"
firstC = sequence.find("C")
print("The first cytosine is in position %i" % (firstC + 1)) # Remember that Python is 0-based, so we need to add 1

The first cytosine is in position 5

## EXERCISE 3 - Data types: numbers

**1. Create three variables `a`, `b`, and `c` with values 2, 5 and 3 respectively.**

In [83]:
# Option 1
a,b,c = 2,5,3
# Option 2
a = 2
b = 5
c = 3

**2. Is `a` greater or equal than `c`. And `b`?**

In [88]:
print(a>=c)
print(b>=c)

False
True

**3. Try `(a+c)*5`. Assign it to `d`.**

In [86]:
d = (a+c)*5
d

25

**4. Try b\*\*a. Is it the same as `d`? Use either `==` or `is` for comparison.**

In [90]:
(b**a) is d

True

**5. What is `d` divided by `a`? If not exact, what is the remainder?**

In [89]:
print(d/a)
print(d%a)

12.5
1

## EXERCISE 4 - Data types: lists

**1. Create a list `y` which contains the numbers from 2 to 11, both included. 
Print `y` in the console.**

In [7]:
# Option 1
y = [2,3,4,5,6,7,8,9,10,11]
print(y)

# Option 2 (using function range). Note that the end value of range is not included
y = list(range(2,12))
print(y)

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

**2. How many elements are in `y`? I.e what is the length of the list `y`?**

In [2]:
len(y)

10

**3. Show the 2nd element of `y`. Remember that Python uses 0-based indexing.**

In [3]:
y[1]

3

**4. Show from 5th to 7th element of `y`.**

In [4]:
y[4:7] # Note that the end value of index is not included

[6, 7, 8]

**5. Show the last element of `y`.**

In [5]:
y[-1]

11

**6. What are the minimum, maximum and sum of values in `y`?**

In [9]:
print(max(y))
print(min(y))
print(sum(y))

11
2
60

**7. Check whether 1 and 9 are present in `y` list. Use the `in` operator.**

In [10]:
print(1 in y)
print(9 in y)

False
True

**8. Create a list `x=[1,2,3,1,2,3,1,2,3]`, but expressed as a repetion of `[1,2,3]`. Use `*`.**

In [2]:
x=[1,2,3]*3
x

[1, 2, 3, 1, 2, 3, 1, 2, 3]

**9. Add an additional element `15` in the list `x`. Use `append`.**

In [3]:
x.append(15)
print(x)

[1, 2, 3, 1, 2, 3, 1, 2, 3, 15]

**10. Order the elements of `x` using the method `sort`.**

In [4]:
x = sorted(x)
x.sort()
print(x)

[1, 1, 1, 2, 2, 2, 3, 3, 3, 15]

**11. Remove duplicated numbers in the list using the function `set`.**

In [15]:
print(set(x))

{1, 2, 3, 4, 6, 72, 45, 15}

**12. Find the items in common between the previous list and this one: `[5, 3, 7, 4, 10, 11, 12, 72]`. Use `set.intersection()`.**

In [16]:
items1 = set(x)
items2 = {5, 3, 7, 4, 10, 11, 12, 72}
items1.intersection(items2)

{3, 4, 72}

**13. Given the protein sequence "MPISEPTFFEIF", split the sequence into its component amino acid codes and count how many phenilalanines (F) are there.**

In [5]:
protein = list("MPISEPTFFEIF")
protein.count("F")

3

## EXERCISE 5 - Data types: dictionaries

**1. Create a dictionary `mydict` that matches the one letter amino acid code `A`, `C`, `D` and `E` to the three letter codes `Ala`, `Cys`, `Asp`, `Glu`.**

In [1]:
mydict = {'A': 'Ala', 'C': 'Cys', 'D': 'Asp', 'E': 'Glu'}

**2. Print the keys and values of the dictionary. Use the methods `values` and `keys`. Print the three letter code of `C`.**

In [2]:
print(mydict.keys())
print(mydict.values())
print(mydict['C'])

dict_keys(['A', 'C', 'D', 'E'])
dict_values(['Ala', 'Cys', 'Asp', 'Glu'])
Cys

**3. Add phenilalanine to `mydict`.**

In [105]:
mydict['F'] = 'Phe'

**4. Add a fake amino acid `A` that matches to `Fake` value. Print `mydict`.**

In [106]:
mydict['A'] = 'Fake'
print(mydict) # Note that we have renamed the previous alanine. No duplicated keys are allowed.

{'A': 'Fake', 'C': 'Cys', 'D': 'Asp', 'E': 'Glu', 'F': 'Phe'}

## EXERCISE 6 - if...else statements

In [4]:
fruit = ["kiwi", "apple", "pear", "grape"]
fruit2 = ["cherry", "strawberry", "blueberry", "peach"]

**1. Use an `if` statement and the `in` function to check whether "apple" is present in `fruit`. If yes, print “There is an apple!”).**

In [2]:
if "apple" in fruit:
    print("There is an apple!")

There is an apple!

**2. Use an `if` statement and the `in` function to check whether "grapefruit" is present in `fruit`. If no, test whether "pear" is found. Print accordingly.**

In [3]:
if "grapefruit" in fruit:
    print("There is a grapefruit!")
elif "pear" in fruit:
    print("There is no grapefruit, but there is a pear!")

There is no grapefruit, but there is a pear!

**3. Add an `else` section in case neither "grapefruit" nor "pear" is found in `fruit`. Test your `if` statement also on `fruit2`:**

In [5]:
if "grapefruit" in fruit:
    print("There is a grapefruit!")
elif "pear" in fruit:
    print("There is no grapefruit, but there is a pear!")
else:
    print("No grapefruit and no pear can be found.")

There is no grapefruit, but there is a pear!

In [6]:
if "grapefruit" in fruit2:
    print("There is a grapefruit!")
elif "pear" in fruit2:
    print("There is no grapefruit, but there is a pear!")
else:
    print("No grapefruit and no pear can be found.")

No grapefruit and no pear can be found.

**4. Check whether the sequence "ATGGCGGTCGAATAG" contains a stop codon (TAG, TAA, TGA). Ignore the frame.**

In [9]:
sequence = "ATGGCGGTCGAATAG"
if ("TAG" in sequence) or ("TAA" in sequence) or ("TGA" in sequence):
    print("The sequence %s contains a Stop codon." % sequence)
else:
    print("The sequence %s does not contain any Stop codon." % sequence)

The sequence ATGGCGGTCGAATAG contains a Stop codon.

## EXERCISE 7 - For loops

**1. Write a `for` loop that iterates over the sequence of numbers 2 to 10 (both included), and prints the square of each number (function ` **2`).**

In [7]:
for n in range(2,11):
    print(n**2)

4
9
16
25
36
49
64
81
100

**2. Write a `for` loop that iterates over the sequence of numbers 5 to 15 (both included), and prints a new list of 2 elements containing the number and its square.**

In [8]:
for n in range(5,16):
    new_list = [n,n**2]
    print(new_list)

[5, 25]
[6, 36]
[7, 49]
[8, 64]
[9, 81]
[10, 100]
[11, 121]
[12, 144]
[13, 169]
[14, 196]
[15, 225]

**3. Write a program where you print out all positive numbers up to 1000 that can be divided by 13, or 17, or both.**

In [4]:
# Create 2 objects: myNumbers and myDividers
myNumbers = range(1,1001)
myDividers = [13,17]   # We will loop over these in the loop itself, so it's easy to add new numbers to this

# Loop through all numbers and, if dividable, print it and its dividers.
for myNumber in myNumbers:
    validDividers = []     # In this list we will put all the valid dividers

    for myDivider in myDividers:
        if (myNumber % myDivider)==0:
            validDividers.append(myDivider)

    if validDividers:      # This means that the list has to have values in it
        print("Number %i is divisible by %s" % (myNumber,validDividers))

Number 13 is divisible by [13]
Number 17 is divisible by [17]
Number 26 is divisible by [13]
Number 34 is divisible by [17]
Number 39 is divisible by [13]
Number 51 is divisible by [17]
Number 52 is divisible by [13]
Number 65 is divisible by [13]
Number 68 is divisible by [17]
Number 78 is divisible by [13]
Number 85 is divisible by [17]
Number 91 is divisible by [13]
Number 102 is divisible by [17]
Number 104 is divisible by [13]
Number 117 is divisible by [13]
Number 119 is divisible by [17]
Number 130 is divisible by [13]
Number 136 is divisible by [17]
Number 143 is divisible by [13]
Number 153 is divisible by [17]
Number 156 is divisible by [13]
Number 169 is divisible by [13]
Number 170 is divisible by [17]
Number 182 is divisible by [13]
Number 187 is divisible by [17]
Number 195 is divisible by [13]
Number 204 is divisible by [17]
Number 208 is divisible by [13]
Number 221 is divisible by [13, 17]
Number 234 is divisible by [13]
Number 238 is divisible by [17]
Number 247 is divisible by [13]
Number 255 is divisible by [17]
Number 260 is divisible by [13]
Number 272 is divisible by [17]
Number 273 is divisible by [13]
Number 286 is divisible by [13]
Number 289 is divisible by [17]
Number 299 is divisible by [13]
Number 306 is divisible by [17]
Number 312 is divisible by [13]
Number 323 is divisible by [17]
Number 325 is divisible by [13]
Number 338 is divisible by [13]
Number 340 is divisible by [17]
Number 351 is divisible by [13]
Number 357 is divisible by [17]
Number 364 is divisible by [13]
Number 374 is divisible by [17]
Number 377 is divisible by [13]
Number 390 is divisible by [13]
Number 391 is divisible by [17]
Number 403 is divisible by [13]
Number 408 is divisible by [17]
Number 416 is divisible by [13]
Number 425 is divisible by [17]
Number 429 is divisible by [13]
Number 442 is divisible by [13, 17]
Number 455 is divisible by [13]
Number 459 is divisible by [17]
Number 468 is divisible by [13]
Number 476 is divisible by [17]
Number 481 is divisible by [13]
Number 493 is divisible by [17]
Number 494 is divisible by [13]
Number 507 is divisible by [13]
Number 510 is divisible by [17]
Number 520 is divisible by [13]
Number 527 is divisible by [17]
Number 533 is divisible by [13]
Number 544 is divisible by [17]
Number 546 is divisible by [13]
Number 559 is divisible by [13]
Number 561 is divisible by [17]
Number 572 is divisible by [13]
Number 578 is divisible by [17]
Number 585 is divisible by [13]
Number 595 is divisible by [17]
Number 598 is divisible by [13]
Number 611 is divisible by [13]
Number 612 is divisible by [17]
Number 624 is divisible by [13]
Number 629 is divisible by [17]
Number 637 is divisible by [13]
Number 646 is divisible by [17]
Number 650 is divisible by [13]
Number 663 is divisible by [13, 17]
Number 676 is divisible by [13]
Number 680 is divisible by [17]
Number 689 is divisible by [13]
Number 697 is divisible by [17]
Number 702 is divisible by [13]
Number 714 is divisible by [17]
Number 715 is divisible by [13]
Number 728 is divisible by [13]
Number 731 is divisible by [17]
Number 741 is divisible by [13]
Number 748 is divisible by [17]
Number 754 is divisible by [13]
Number 765 is divisible by [17]
Number 767 is divisible by [13]
Number 780 is divisible by [13]
Number 782 is divisible by [17]
Number 793 is divisible by [13]
Number 799 is divisible by [17]
Number 806 is divisible by [13]
Number 816 is divisible by [17]
Number 819 is divisible by [13]
Number 832 is divisible by [13]
Number 833 is divisible by [17]
Number 845 is divisible by [13]
Number 850 is divisible by [17]
Number 858 is divisible by [13]
Number 867 is divisible by [17]
Number 871 is divisible by [13]
Number 884 is divisible by [13, 17]
Number 897 is divisible by [13]
Number 901 is divisible by [17]
Number 910 is divisible by [13]
Number 918 is divisible by [17]
Number 923 is divisible by [13]
Number 935 is divisible by [17]
Number 936 is divisible by [13]
Number 949 is divisible by [13]
Number 952 is divisible by [17]
Number 962 is divisible by [13]
Number 969 is divisible by [17]
Number 975 is divisible by [13]
Number 986 is divisible by [17]
Number 988 is divisible by [13]

**4. Write a program where you find, for each positive number up to 50, all numbers that can divide each number in this range.**

In [8]:
myNumbers = range(1,51)
 
for x in myNumbers:
    dividers = []
    for y in range(1,x+1): # remember that the end value is not included in range
        if (x % y)==0:
            dividers.append(y)
    
    print ("Number %i can be divided by %s" % (x,dividers))

Number 1 can be divided by [1]
Number 2 can be divided by [1, 2]
Number 3 can be divided by [1, 3]
Number 4 can be divided by [1, 2, 4]
Number 5 can be divided by [1, 5]
Number 6 can be divided by [1, 2, 3, 6]
Number 7 can be divided by [1, 7]
Number 8 can be divided by [1, 2, 4, 8]
Number 9 can be divided by [1, 3, 9]
Number 10 can be divided by [1, 2, 5, 10]
Number 11 can be divided by [1, 11]
Number 12 can be divided by [1, 2, 3, 4, 6, 12]
Number 13 can be divided by [1, 13]
Number 14 can be divided by [1, 2, 7, 14]
Number 15 can be divided by [1, 3, 5, 15]
Number 16 can be divided by [1, 2, 4, 8, 16]
Number 17 can be divided by [1, 17]
Number 18 can be divided by [1, 2, 3, 6, 9, 18]
Number 19 can be divided by [1, 19]
Number 20 can be divided by [1, 2, 4, 5, 10, 20]
Number 21 can be divided by [1, 3, 7, 21]
Number 22 can be divided by [1, 2, 11, 22]
Number 23 can be divided by [1, 23]
Number 24 can be divided by [1, 2, 3, 4, 6, 8, 12, 24]
Number 25 can be divided by [1, 5, 25]
Number 26 can be divided by [1, 2, 13, 26]
Number 27 can be divided by [1, 3, 9, 27]
Number 28 can be divided by [1, 2, 4, 7, 14, 28]
Number 29 can be divided by [1, 29]
Number 30 can be divided by [1, 2, 3, 5, 6, 10, 15, 30]
Number 31 can be divided by [1, 31]
Number 32 can be divided by [1, 2, 4, 8, 16, 32]
Number 33 can be divided by [1, 3, 11, 33]
Number 34 can be divided by [1, 2, 17, 34]
Number 35 can be divided by [1, 5, 7, 35]
Number 36 can be divided by [1, 2, 3, 4, 6, 9, 12, 18, 36]
Number 37 can be divided by [1, 37]
Number 38 can be divided by [1, 2, 19, 38]
Number 39 can be divided by [1, 3, 13, 39]
Number 40 can be divided by [1, 2, 4, 5, 8, 10, 20, 40]
Number 41 can be divided by [1, 41]
Number 42 can be divided by [1, 2, 3, 6, 7, 14, 21, 42]
Number 43 can be divided by [1, 43]
Number 44 can be divided by [1, 2, 4, 11, 22, 44]
Number 45 can be divided by [1, 3, 5, 9, 15, 45]
Number 46 can be divided by [1, 2, 23, 46]
Number 47 can be divided by [1, 47]
Number 48 can be divided by [1, 2, 3, 4, 6, 8, 12, 16, 24, 48]
Number 49 can be divided by [1, 7, 49]
Number 50 can be divided by [1, 2, 5, 10, 25, 50]

**5. Write a program where you start with a list of numbers from 1 to 100, and you then remove every number from this list that can be divided by 3 or by 5. Print the result.**

In [10]:
myNumberList = list(range(1,101))
 
# You have to make a copy of the original list here (using [:]), otherwise Python will get 'confused'
# when you remove values from the list while it's looping over it
for number in myNumberList[:]:  
    if (number % 3)==0 or (number % 5)==0:
        myNumberList.remove(number)

print(myNumberList)

[1, 2, 4, 7, 8, 11, 13, 14, 16, 17, 19, 22, 23, 26, 28, 29, 31, 32, 34, 37, 38, 41, 43, 44, 46, 47, 49, 52, 53, 56, 58, 59, 61, 62, 64, 67, 68, 71, 73, 74, 76, 77, 79, 82, 83, 86, 88, 89, 91, 92, 94, 97, 98]

## EXERCISE 8 - List comprehension
Remember that all list comprehensions can be also expressed as a for loop. Please formulate the answers as list comprehensions for practice.

**1. Create a list of integers which specify the length of each word in `mysentence`, but only if the word is not the word "the".**

In [2]:
mysentence = "the quick brown fox jumps over the lazy dog"

words = mysentence.split()
word_lengths = [len(word) for word in words if word != "the"]
print(words)
print(word_lengths)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[5, 5, 3, 5, 4, 4, 3]

**2. Create a new list called `newlist` out of the list `numbers`, which contains only the positive numbers from the list, as integers.**

In [3]:
numbers = [34.6, -203.4, 44.9, 68.3, -12.2, 44.6, 12.7]

newlist = [int(x) for x in numbers if x > 0]
print(newlist)

[34, 44, 68, 44, 12]

**3. Remove all of the vowels in `mysentence`.**

In [9]:
mysentence = "the quick brown fox jumps over the lazy dog"

vowels = ['a','e','i','o','u']
novowel_list = [letter for letter in mysentence if letter.lower() not in vowels]
novowel_string = "".join(novowel_list) # Collapse the results in novowel_list into a string again
print(novowel_string)

th qck brwn fx jmps vr th lzy dg

**4. Use a nested list comprehension to find all of the numbers from 1-1000 that are divisible by any single digit besides 1 (2-9).**

In [12]:
results = [number for number in range(1,1001) if [divisor for divisor in range(2,10) if number % divisor == 0]]
print(results)

[2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 14, 15, 16, 18, 20, 21, 22, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 38, 39, 40, 42, 44, 45, 46, 48, 49, 50, 51, 52, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 68, 69, 70, 72, 74, 75, 76, 77, 78, 80, 81, 82, 84, 85, 86, 87, 88, 90, 91, 92, 93, 94, 95, 96, 98, 99, 100, 102, 104, 105, 106, 108, 110, 111, 112, 114, 115, 116, 117, 118, 119, 120, 122, 123, 124, 125, 126, 128, 129, 130, 132, 133, 134, 135, 136, 138, 140, 141, 142, 144, 145, 146, 147, 148, 150, 152, 153, 154, 155, 156, 158, 159, 160, 161, 162, 164, 165, 166, 168, 170, 171, 172, 174, 175, 176, 177, 178, 180, 182, 183, 184, 185, 186, 188, 189, 190, 192, 194, 195, 196, 198, 200, 201, 202, 203, 204, 205, 206, 207, 208, 210, 212, 213, 214, 215, 216, 217, 218, 219, 220, 222, 224, 225, 226, 228, 230, 231, 232, 234, 235, 236, 237, 238, 240, 242, 243, 244, 245, 246, 248, 249, 250, 252, 254, 255, 256, 258, 259, 260, 261, 262, 264, 265, 266, 267, 268, 270, 272, 273, 274, 275, 276, 278, 279, 280, 282, 284, 285, 286, 287, 288, 290, 291, 292, 294, 295, 296, 297, 298, 300, 301, 302, 303, 304, 305, 306, 308, 309, 310, 312, 314, 315, 316, 318, 320, 321, 322, 324, 325, 326, 327, 328, 329, 330, 332, 333, 334, 335, 336, 338, 339, 340, 342, 343, 344, 345, 346, 348, 350, 351, 352, 354, 355, 356, 357, 358, 360, 362, 363, 364, 365, 366, 368, 369, 370, 371, 372, 374, 375, 376, 378, 380, 381, 382, 384, 385, 386, 387, 388, 390, 392, 393, 394, 395, 396, 398, 399, 400, 402, 404, 405, 406, 408, 410, 411, 412, 413, 414, 415, 416, 417, 418, 420, 422, 423, 424, 425, 426, 427, 428, 429, 430, 432, 434, 435, 436, 438, 440, 441, 442, 444, 445, 446, 447, 448, 450, 452, 453, 454, 455, 456, 458, 459, 460, 462, 464, 465, 466, 468, 469, 470, 471, 472, 474, 475, 476, 477, 478, 480, 482, 483, 484, 485, 486, 488, 489, 490, 492, 494, 495, 496, 497, 498, 500, 501, 502, 504, 505, 506, 507, 508, 510, 511, 512, 513, 514, 515, 516, 518, 519, 520, 522, 524, 525, 526, 528, 530, 531, 532, 534, 535, 536, 537, 538, 539, 540, 542, 543, 544, 545, 546, 548, 549, 550, 552, 553, 554, 555, 556, 558, 560, 561, 562, 564, 565, 566, 567, 568, 570, 572, 573, 574, 575, 576, 578, 579, 580, 581, 582, 584, 585, 586, 588, 590, 591, 592, 594, 595, 596, 597, 598, 600, 602, 603, 604, 605, 606, 608, 609, 610, 612, 614, 615, 616, 618, 620, 621, 622, 623, 624, 625, 626, 627, 628, 630, 632, 633, 634, 635, 636, 637, 638, 639, 640, 642, 644, 645, 646, 648, 650, 651, 652, 654, 655, 656, 657, 658, 660, 662, 663, 664, 665, 666, 668, 669, 670, 672, 674, 675, 676, 678, 679, 680, 681, 682, 684, 685, 686, 687, 688, 690, 692, 693, 694, 695, 696, 698, 699, 700, 702, 704, 705, 706, 707, 708, 710, 711, 712, 714, 715, 716, 717, 718, 720, 721, 722, 723, 724, 725, 726, 728, 729, 730, 732, 734, 735, 736, 738, 740, 741, 742, 744, 745, 746, 747, 748, 749, 750, 752, 753, 754, 755, 756, 758, 759, 760, 762, 763, 764, 765, 766, 768, 770, 771, 772, 774, 775, 776, 777, 778, 780, 782, 783, 784, 785, 786, 788, 789, 790, 791, 792, 794, 795, 796, 798, 800, 801, 802, 804, 805, 806, 807, 808, 810, 812, 813, 814, 815, 816, 818, 819, 820, 822, 824, 825, 826, 828, 830, 831, 832, 833, 834, 835, 836, 837, 838, 840, 842, 843, 844, 845, 846, 847, 848, 849, 850, 852, 854, 855, 856, 858, 860, 861, 862, 864, 865, 866, 867, 868, 870, 872, 873, 874, 875, 876, 878, 879, 880, 882, 884, 885, 886, 888, 889, 890, 891, 892, 894, 895, 896, 897, 898, 900, 902, 903, 904, 905, 906, 908, 909, 910, 912, 914, 915, 916, 917, 918, 920, 921, 922, 924, 925, 926, 927, 928, 930, 931, 932, 933, 934, 935, 936, 938, 939, 940, 942, 944, 945, 946, 948, 950, 951, 952, 954, 955, 956, 957, 958, 959, 960, 962, 963, 964, 965, 966, 968, 969, 970, 972, 973, 974, 975, 976, 978, 980, 981, 982, 984, 985, 986, 987, 988, 990, 992, 993, 994, 995, 996, 998, 999, 1000]

**5. Print out the amino acid sequence that would be produced by the DNA sequence "GTTGCACCACAACCG". Use genetic code below.**

In [1]:
GENETIC_CODE = {
    'ATA':'I', 'ATC':'I', 'ATT':'I', 'ATG':'M',
    'ACA':'T', 'ACC':'T', 'ACG':'T', 'ACT':'T',
    'AAC':'N', 'AAT':'N', 'AAA':'K', 'AAG':'K',
    'AGC':'S', 'AGT':'S', 'AGA':'R', 'AGG':'R',
    'CTA':'L', 'CTC':'L', 'CTG':'L', 'CTT':'L',
    'CCA':'P', 'CCC':'P', 'CCG':'P', 'CCT':'P',
    'CAC':'H', 'CAT':'H', 'CAA':'Q', 'CAG':'Q',
    'CGA':'R', 'CGC':'R', 'CGG':'R', 'CGT':'R',
    'GTA':'V', 'GTC':'V', 'GTG':'V', 'GTT':'V',
    'GCA':'A', 'GCC':'A', 'GCG':'A', 'GCT':'A',
    'GAC':'D', 'GAT':'D', 'GAA':'E', 'GAG':'E',
    'GGA':'G', 'GGC':'G', 'GGG':'G', 'GGT':'G',
    'TCA':'S', 'TCC':'S', 'TCG':'S', 'TCT':'S',
    'TTC':'F', 'TTT':'F', 'TTA':'L', 'TTG':'L',
    'TAC':'Y', 'TAT':'Y', 'TAA':'_', 'TAG':'_',
    'TGC':'C', 'TGT':'C', 'TGA':'_', 'TGG':'W'}

In [2]:
sequence = "GTTGCACCACAACCG"
seq_codons = [sequence[n:n+3] for n in range(0,len(sequence),3)] # Separate sequence into codons
seq_aa = [GENETIC_CODE[c] for c in seq_codons]
translated_seq = "".join(seq_aa)
print(translated_seq)

VAPQP

## EXERCISE 9 - Functions

**1. Write a function to multiply all the numbers in a list.**

In [2]:
def multiply(numbers):  
    total = 1
    for x in numbers:
        total *= x  
    return total

print(multiply([8, 2, 3, -1, 7]))
print(multiply([1, -2, 0.2, 91, 5]))

-336
-182.0

**2. Write a function that computes the absolute of a number. Compare it to the built-in function `abs()`.**

In [4]:
def myAbsFunc(someValue):
    if someValue < 0:
        someValue = -someValue
    return someValue

print(abs(-10))
print(myAbsFunc(-10))

10
10

**3. Write a function that computes the mean of a list of numbers.**

In [5]:
def getMeanValue(valueList):
    # It is good practice to comment functions on top to describe what they do:
    """
    Calculate the mean (average) value from a list of values.
    Input: list of integers/floats
    Output: mean value
    """
    
    valueTotal = 0.0
    
    for value in valueList:
        valueTotal += value
    
    numberValues = len(valueList)
    
    return (valueTotal/numberValues)
 
meanValue = getMeanValue([4,6,77,3,67,54,6,5])
print(meanValue)
print(getMeanValue([3443,434,34343456,32434,34,34341,23]))

27.75
4916309.285714285

**4. Write a function `complementDNA` that produces the complement of a DNA sequence (converts A to T and C to G, and vice versa).**

In [9]:
def complementDNA(sequence):
    # Create dictionary with the complementary bases
    complement = {'A': 'T', 'C': 'G', 'G': 'C', 'T': 'A'} 
    # Separate sequence into bases
    bases = list(sequence)
    # Get the complement bases
    comp_bases = [complement[base] for base in bases]
    # Re-join bases into a sequence
    comp_sequence = ''.join(comp_bases)
    return comp_sequence
    
    
seq = "ATCGGCTTTCGAAATCGACATGACAAGATACAGATACAGATTTA"
print(complementDNA(seq))

TAGCCGAAAGCTTTAGCTGTACTGTTCTATGTCTATGTCTAAAT

**5. Add a second argument to `complementDNA` called `reverse`, which defaults to "False". Change the function so that it prints the reverse sequence when `reverse = True`.**
NOTE: In biology, you may want to work with the reverse-complement of a sequence if it contains an ORF on the reverse strand.

In [11]:
def complementDNA(sequence, reverse = False):
    # Create dictionary with the complementary bases
    complement = {'A': 'T', 'C': 'G', 'G': 'C', 'T': 'A'} 
    # Separate sequence into bases
    bases = list(sequence)
    # Get the complement bases
    comp_bases = [complement[base] for base in bases]
    # Re-join bases into a sequence
    comp_sequence = ''.join(comp_bases)
    
    # If reverse is True, get the reversed sequence
    if reverse:
        return comp_sequence[::-1]
    else:
        return comp_sequence
    
    
seq = "ATCGGCTTTCGAAATCGACATGACAAGATACAGATACAGATTTA"
print(complementDNA(seq))
print(complementDNA(seq,True))

TAGCCGAAAGCTTTAGCTGTACTGTTCTATGTCTATGTCTAAAT
TAAATCTGTATCTGTATCTTGTCATGTCGATTTCGAAAGCCGAT

**6. Write a function to that calculates the GC content of a sequence. Test it with the sequence "ATCGGCTTTC".**

In [13]:
def GCcontent(sequence):
    count = 0
    for n in sequence:
        if n in ["G","C"]:
            count += 1
    return count*100/len(sequence)

# Test function:
GCcontent("ATCGGCTTTC")

50.0

**7. Read the lyrics of Imagine by John Lennon, 1971 from the file in "imagine.txt". Split the text into words. Print the total number of words, and the number of distinct words. Calculate the frequency of each distinct word and store the result into a dictionary. Find the most frequent word longer than 3 characters in the song, print it with its frequency.**

In [45]:
# Read lyrics from file
fileHandle = open('data/imagine.txt')
lyrics = fileHandle.readlines()
fileHandle.close()
# Split into words
words = []
for l in lyrics:
    words.extend(l.lower().strip().split()) # Convert all to lowercase to be case-insensitive
n_words = len(words)
n_diff_words = len(set(words))
print("Imagine contains %i words, %i of them are different." % (n_words, n_diff_words))

#Calculate the frequency of each word
word_dict = {}
for w in set(words):
    word_dict[w] = words.count(w)

# Find most frequent word
most_frequent = 0
for r in word_dict:
    if (word_dict[r] > most_frequent) and (len(r) > 3):
        most_frequent = word_dict[r]
        most_frequent_word = r
print(str("%s is the most frequent word being used %i times." % (most_frequent_word, most_frequent)))

Imagin contains 133 words, 69 of them are different.
imagine is the most frequent word being used 6 times.